/* LIGHT MODE */

:root {
    
    --color-page: #F6F6F6;

    --color-a: #CC75AA;
    --color-b: #86BA84;
    --color-c: #23ACCF;
    --color-d: #FE5D49;
    --color-e: #F1C74A;
    --color-f: #D3CFC1;

    --color-first: #689BD2;
    --color-second: cadetblue;

    --color-black: #000000;
    --color-dark: #373836;

    --color-gray-100: #F6F6F6;
    --color-gray-200: #D8D8D8;
    --color-gray-300: #B7B7B7;
    --color-gray-500: #999;
    --color-gray-700: #4A4A4A;
    --color-gray-900: #141414;
    
    --color-light: #EBEBEB;
    --color-white: #FFFFFF;

    --color-button-text: rgba(0, 0, 0, 0.70);

}

/* DARK MODE */

/* page.bodyElement.classList.add('dark'); */
/* page.bodyElement.classList.remove('dark'); */
.dark {

    --color-page: #141414;

    --color-a: #CC75AA;
    --color-b: #86BA84;
    --color-c: #23ACCF;
    --color-d: #FE5D49;
    --color-e: #F1C74A;
    --color-f: #D3CFC1;

    --color-first: #344f6c;
    --color-second: rgb(57, 96, 97);

    --color-white: #000000;
    --color-light: #373836;

    --color-gray-900: #F6F6F6;
    --color-gray-700: #D8D8D8;
    --color-gray-500: #B7B7B7;
    --color-gray-300: #999;
    --color-gray-200: #4A4A4A;
    --color-gray-100: #141414;
    
    --color-dark: #EBEBEB;
    --color-black: #FFFFFF;

    --color-button-text: rgba(255, 255, 255, 0.70);

}

/* If OS is setted as dark mode */
/*
@media (prefers-color-scheme: dark) {
    :root {
       --color-page: #141414;
    }
}
*/

